<ion-view view-title="Post" ng-controller='gohomeCtrl'>
    <ion-content class="padding home-background">
        <label class = "item item-input item-select">
            <div class = "input-label responsive-sm">
                Maintenance
            </div>
            <select ng-model="formData.issue">
                <option value="Plumber" selected>Plumber</option>
                <option value="Carpenter">Carpenter</option>
                <option value="Electrician">Electrician</option>
                <option value="Flooring">Flooring</option>
                <option value="Kitchen">Kitchen Repair</option>
                <option value="Borewell">BoreWell Repair</option>
                <option value="System">System Repair</option>
                <option value="Laptop">Laptop Repair</option>
                <option value="Sanitation">Sanitation</option>
            </select>
        </label>
        <ion-item>
            <ion-label>Problem Description</ion-label>

            <textarea rows="6" width="100%" ng-model="formData.description"></textarea>
        </ion-item>
        <input type="file" class="button button-positive button-block" value="Upload" id="fileUpload">
        <img alt="selected image" id="imageView"></img>
        <button class="button button-balanced button-block" value="Issue" ng-click="createIssue()">
            Create Issue
        </button>

    </ion-content>
</ion-view>
